In [1]:
#-----------------------Pandas series--------------------------------

import pandas as pd

In [2]:
pd.Series([10,20,30,40,50])

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
list_data = [2,4,6,8,10]

list_index = ["a","b","c","d","e"]

var = pd.Series(data= list_data ,index= list_index,dtype= "float")

var

a     2.0
b     4.0
c     6.0
d     8.0
e    10.0
dtype: float64

In [4]:
type(var)

pandas.core.series.Series

In [5]:
list_data = [2,4,6,8,10,12]

list_index = ["a","b","c","d","e"]

var = pd.Series(data= list_data ,index= list_index,dtype= "float")

ValueError: Length of values (6) does not match length of index (5)

In [6]:
#--------------pandas with dictionary--------------------------

import pandas as pd

dictionary = {"ferrai" : 334.7, "Porche" : 337.9,"lamborghini" : 349}

pd.Series(data= dictionary)

ferrai         334.7
Porche         337.9
lamborghini    349.0
dtype: float64

In [7]:
var = pd.Series(data= dictionary ,index= ["Porche","bugatti","ferrai"])

var

Porche     337.9
bugatti      NaN
ferrai     334.7
dtype: float64

In [3]:
#----------------------------

import numpy as np
import pandas as pd

example = np.array([1, 3.5 , 5, 7.2 , 9])
labels = np.array(["a", "b" , "c" , "d", "e"])

var = pd.Series(data= example , index = labels)

var

a    1.0
b    3.5
c    5.0
d    7.2
e    9.0
dtype: float64

In [4]:
#----------------------------+OBJECTS+------------------

import numpy as np
import pandas as pd

pd.Series(["World",100 ,5.8,  False]
          )

0    World
1      100
2      5.8
3    False
dtype: object

In [5]:
example = pd.Series(["World",100 ,5.8,  False])

example[0]

'World'

In [7]:
print(type(example[0]))

<class 'str'>

In [8]:
print(type(example[1]))
print(type(example[2]))
print(type(example[3]))

<class 'int'>
<class 'float'>
<class 'bool'>

In [9]:
pd.Series([sum, type , max])

0    <built-in function sum>
1             <class 'type'>
2    <built-in function max>
dtype: object

In [10]:
import pandas as pd

var = pd.Series([10,20,30,40,50,60,70])

var

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [11]:
var . axes

[RangeIndex(start=0, stop=7, step=1)]

In [12]:
var.dtype

dtype('int64')

In [13]:
var.size

7

In [14]:
var.ndim

1

In [15]:
var.head

<bound method NDFrame.head of 0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64>

In [16]:
var.head()

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [17]:
var.head(3)

0    10
1    20
2    30
dtype: int64

In [18]:
var.tail()

2    30
3    40
4    50
5    60
6    70
dtype: int64

In [19]:
import pandas as pd

var =  pd.Series([8 , 3 , 5 , 1 , 6 ] , index = ["b" , "d" ,"c" ,"a", "e"])

var

b    8
d    3
c    5
a    1
e    6
dtype: int64

In [20]:
new_var = var.sort_index()

In [21]:
new_var

a    1
b    8
c    5
d    3
e    6
dtype: int64

In [22]:
new_var2 = var.sort_values()

new_var2

a    1
d    3
c    5
e    6
b    8
dtype: int64

In [23]:
 new_var2

a    1
d    3
c    5
e    6
b    8
dtype: int64

In [24]:
var.isin([6,1])

b    False
d    False
c    False
a     True
e     True
dtype: bool

In [25]:
var[var.isin([6,1])]

a    1
e    6
dtype: int64

In [26]:
var.values

array([8, 3, 5, 1, 6], dtype=int64)

In [27]:
[i for i in var.values]

[8, 3, 5, 1, 6]

In [28]:
var.index

Index(['b', 'd', 'c', 'a', 'e'], dtype='object')

In [29]:
[i for i in var.index]

['b', 'd', 'c', 'a', 'e']

In [30]:
var.items

<bound method Series.items of b    8
d    3
c    5
a    1
e    6
dtype: int64>

In [31]:
var.items()

In [32]:
list(var.items())

[('b', 8), ('d', 3), ('c', 5), ('a', 1), ('e', 6)]

In [33]:
for index , values in var.items():
    print(index, "-", values)

b - 8
d - 3
c - 5
a - 1
e - 6

In [35]:
import pandas as pd

exam = pd.Series(["+90" ,"+49", "+33","+39","+46","+47"] , index = ["Turkey","Germany","France","Italy","Sweden","Norway"])

exam

Turkey     +90
Germany    +49
France     +33
Italy      +39
Sweden     +46
Norway     +47
dtype: object

In [37]:
exam["Germany"]

'+49'

In [38]:
exam[1]

C:\Users\AAROHI\AppData\Local\Temp\ipykernel_9748\3080896847.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  exam[1]

'+49'

In [39]:
#--------------start stop step----------------------

exam["France" : "Sweden"]

France    +33
Italy     +39
Sweden    +46
dtype: object

In [40]:
exam[2:5]

France    +33
Italy     +39
Sweden    +46
dtype: object

In [41]:
exam[2:5:2]

France    +33
Sweden    +46
dtype: object

In [42]:
exam[["Norway","Turkey"]]

Norway    +47
Turkey    +90
dtype: object